body{
    font-family:Calibri;
    background-color:rgb(43, 47, 59);
    color: white;
}

.formulario{
    margin:1% 40%;
    border: solid 1px rgb(143, 141, 141);
    border-radius: 5px;
    padding:auto;
}

.login{
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-align:center;
    margin-bottom: 30px;
    border: none;
    border-bottom: solid 1px white;
    padding: 5px 50px;
}

.lgn{
    color: white;
}


.btn{
    background-color: rgb(18, 98, 128);
    color: rgb(173,172,172);
    margin: 20px;
    border: none;
    padding: 10px 90px;
    cursor:pointer;
}

.btn1:hover{
    background-color: rgb(26, 137, 178);
    color:rgb(47,51,64);
}